# Environnement virtuel
.venv/
.venv311/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Pytest
.pytest_cache/

# Variables d'environnement — NE JAMAIS commiter
.env
.env.*


# MLflow local
mlruns/
mlartifacts/

# Reports
reports/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Divers
commande.txt
.DS_Store
mlflow.db
