
.venv/
.venv311/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/


.pytest_cache/

# Variables d'environnement 
.env
.env.*


# MLflow local
mlruns/
mlartifacts/




.ipynb_checkpoints/


.vscode/
.idea/

# Divers
commande.txt
.DS_Store
mlflow.db
